header.main {
  background: #292929;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 32px;
  box-sizing: border-box;
  border-bottom: 6px solid #81b332;
}
.header-language {
  display: flex;
  flex-basis: auto;
  position: relative;
  color: white;
}
.header-language label {
  text-transform: uppercase;
  font-size: 14px;
}
.header-language::after {
  content: attr(arrow);
  font-family: "Material Icons";
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 400;
  bottom: 0;
  margin: auto;
  height: 18px;
}

select.custom-dropdown {
  outline: none;
  font-weight: 400;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 30px;
  border: 0;
  margin: 0;
  border-radius: 3px;
  -webkit-appearance: button;
  text-transform: uppercase;
  line-height: 26px;
}

.header-pancake {
  display: none;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  color: white;
}

@media only screen and (max-width: 1023px) {
  header.main {
    padding: 14px;
  }
  .header-language {
    display: none;
  }
  .header-pancake {
    display: block;
  }
}
